.body {
    position: relative;
  }
  
  .wrapper {
    width: 350px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .screen {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    font-size: 35px;
    overflow: hidden;
    padding: 20px;
    text-align: right;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .calc-button {
    margin-top: 10px;
    box-shadow: 0 40px 30px rgba(35, 35, 35, 0.1);
    padding: 30px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  
  .sympol {
    background-color: #ff5300;
    border: none;
    color: white;
  }
  
  .calc-button-row {
    width: 320px;
    display: flex;
    justify-content: space-between;
  }
  
  .double {
    flex-basis: 48%;
  }
  
  .triple {
    flex-basis: 74%;
  }
  